streamlit
openai
rank-bm25
scikit-learn
feedparser
datasets
yfinance
scipy
plotly
transformers
peft
torch
accelerate
bitsandbytes
faiss-cpu
statsmodels
pandas
numpy
matplotlib
seaborn
langchain==0.1.20
langchain-openai
langchain-community
tqdm
